*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #160430;
}
.login-pic{
    height: 100%;
    width: 55vw;
    background-image: url('./login\ page\ pic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login-box{
    display: flex;
    width: 45vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 5.5rem; */
    margin-top: 2rem;
}
.title{
    font-family: Rampart One;
    color: white;
    font-size: 4.4rem;
    margin-left: 9rem;
}
#heading_signup{
    color: white;
    font-size: 2.8rem;
}
.input_section{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}
.input_section h4{
    color: white;
    font-size: 1.2rem;
}
.input_section input{
    color: white;
    background-color: #261046;
    border-radius: 5px;
    border: 1px solid black;
    height: 2.3rem;
    width: 17rem;
    padding: 0.97rem;
    margin-bottom: 0.75rem;
}
.signup-btn{
    width: 10rem;
    height: 2rem;
    margin: 1rem auto 0;
    border-radius: 8px;
    border: none;
    background-color: #3e70a1;
    color: white;
    cursor: pointer;
}