*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: 160430;
}
.main{
  height: 100%;
  width: 100%;
  /* background-color: #261046; */
  background-color: #160430;
  display: flex;
}
.login-pic{
  height: 100%;
  width: 50%;
  background-position:center ;
  background-size: cover;
  background-image: url("./login\ page\ pic.png");
}
.login-detail{
  height: 100%;
  width: 50%;
  background-color: #160430;
  /* background-color: white; */

}
.title-logo{
  /* background-color: black; */
  width: 80%;
  height: 15%;
  margin-left: 55px;
  margin-top: 20px;
  /* background-image: url("Title\ logo.png"); */
  background-size: cover;
  background-position: center;
}
.title-logo a img {
  width: 70%;
  height: 60% ;
  margin-left: 75px;
}
.login{
  width: 100%;
  height: 82%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 70px;
}
.login-box{
  width: 60%;
  height: 90%; 
  display: flex;
  flex-direction: column;
  align-items:start;
  /* justify-content: space-evenly; */
  /* background-color: blueviolet; */
  padding-left: 30px;
}
.login-box h1{
  padding-top: 15%;
  font-size: 20px;
  font-size: 45px;
  font-family:"Poppins";
}
.login-box h4{
  padding-top: 43px;
  font-family:"Poppins";
  font-size: 15px;
}
.login-box input {
  width: 90%;
  height: 8%;
  background-color: #261046;
  border-radius: 5px;
  border: 1px solid black;
}
input::placeholder{
  font-size: 15px;
  padding-left: 15px;
  
}
.login-box button{
  width:60%;
  margin-left: 14%;
  margin-top: 13%;
  height: 6%;
  border-radius: 8px;
  border: none;
  background-color: #3E70A1;
  color: white;
  cursor: pointer;
}
.login-box h5{
  margin-left: 10%;
  margin-top: 20%;
  color: #B6B6B6;
  font-family:"Poppins";
}
.login-box a{
  color: white;
  font-family:"Poppins";
}
